In [1]:
import pandas as pd
import numpy as np
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:

filenames = []
for file in os.listdir(r'C:\Users\vinay\Downloads\t20 p\ipl score\ipl'):
    filenames.append(os.path.join(r'C:\Users\vinay\Downloads\t20 p\ipl score\ipl', file))

In [3]:
filenames[0:5]

['C:\\Users\\vinay\\Downloads\\t20 p\\ipl score\\ipl\\1082591.yaml',
 'C:\\Users\\vinay\\Downloads\\t20 p\\ipl score\\ipl\\1082592.yaml',
 'C:\\Users\\vinay\\Downloads\\t20 p\\ipl score\\ipl\\1082593.yaml',
 'C:\\Users\\vinay\\Downloads\\t20 p\\ipl score\\ipl\\1082594.yaml',
 'C:\\Users\\vinay\\Downloads\\t20 p\\ipl score\\ipl\\1082595.yaml']

In [5]:
final_df = pd.DataFrame()
counter = 1

for file in tqdm(filenames):
    with open(file, 'r') as f:
        try:
            data = safe_load(f)
            df = pd.json_normalize(data)
            df['match_id'] = counter
            final_df = pd.concat([final_df, df], ignore_index=True)
            counter += 1
        except Exception as e:
            print(f"Error processing {file}: {e}")

100%|██████████| 1170/1170 [05:36<00:00,  3.47it/s]

Error processing C:\Users\vinay\Downloads\t20 p\ipl score\ipl\README.txt:

In [6]:
backup = final_df.copy()

In [7]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.city,info.competition,info.dates,info.gender,info.match_type,...,info.registry.people.B Aparajith,info.registry.people.GS Sandhu,info.players.Rising Pune Supergiants,info.registry.people.P Sahu,info.registry.people.KJ Abbott,info.registry.people.PSP Handscomb,info.registry.people.SM Boland,info.registry.people.UT Khawaja,info.registry.people.F Behardien,info.registry.people.ER Dwivedi
0,[{'1st innings': {'team': 'Sunrisers Hyderabad...,0.91,2017-04-06,1,6,Hyderabad,IPL,[2017-04-05],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",0.91,2017-04-07,1,6,Pune,IPL,[2017-04-06],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",0.91,2017-04-07,2,6,Rajkot,IPL,[2017-04-07],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[{'1st innings': {'team': 'Rising Pune Supergi...,0.91,2017-04-08,1,6,Indore,IPL,[2017-04-08],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[{'1st innings': {'team': 'Royal Challengers B...,0.91,2017-04-08,2,6,Bengaluru,IPL,[2017-04-08],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,"[{'1st innings': {'team': 'Delhi Daredevils', ...",0.91,2016-05-23,1,6,Raipur,IPL,[2016-05-22],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1165,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",0.91,2016-05-24,1,6,Bangalore,IPL,[2016-05-24],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b274dbbd
1166,[{'1st innings': {'team': 'Sunrisers Hyderabad...,0.91,2016-05-25,1,6,Delhi,IPL,[2016-05-25],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1167,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",0.91,2016-05-28,1,6,Delhi,IPL,[2016-05-27],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b274dbbd
1168,[{'1st innings': {'team': 'Sunrisers Hyderabad...,0.91,2016-05-30,1,6,Bangalore,IPL,[2016-05-29],male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
final_df['info.match_type'].value_counts()

info.match_type
T20    1169
Name: count, dtype: int64

In [10]:
final_df['info.overs'].value_counts()

info.overs
20    1169
Name: count, dtype: int64

In [11]:
final_df = final_df[final_df['info.overs']== 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.city,info.competition,info.dates,info.gender,info.outcome.by.runs,...,info.registry.people.B Aparajith,info.registry.people.GS Sandhu,info.players.Rising Pune Supergiants,info.registry.people.P Sahu,info.registry.people.KJ Abbott,info.registry.people.PSP Handscomb,info.registry.people.SM Boland,info.registry.people.UT Khawaja,info.registry.people.F Behardien,info.registry.people.ER Dwivedi
0,[{'1st innings': {'team': 'Sunrisers Hyderabad...,0.91,2017-04-06,1,6,Hyderabad,IPL,[2017-04-05],male,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",0.91,2017-04-07,1,6,Pune,IPL,[2017-04-06],male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",0.91,2017-04-07,2,6,Rajkot,IPL,[2017-04-07],male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[{'1st innings': {'team': 'Rising Pune Supergi...,0.91,2017-04-08,1,6,Indore,IPL,[2017-04-08],male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[{'1st innings': {'team': 'Royal Challengers B...,0.91,2017-04-08,2,6,Bengaluru,IPL,[2017-04-08],male,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,"[{'1st innings': {'team': 'Delhi Daredevils', ...",0.91,2016-05-23,1,6,Raipur,IPL,[2016-05-22],male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1165,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",0.91,2016-05-24,1,6,Bangalore,IPL,[2016-05-24],male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b274dbbd
1166,[{'1st innings': {'team': 'Sunrisers Hyderabad...,0.91,2016-05-25,1,6,Delhi,IPL,[2016-05-25],male,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1167,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",0.91,2016-05-28,1,6,Delhi,IPL,[2016-05-27],male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b274dbbd
1168,[{'1st innings': {'team': 'Sunrisers Hyderabad...,0.91,2016-05-30,1,6,Bangalore,IPL,[2016-05-29],male,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
count = 1
delivery_df = pd.DataFrame()
for index, row in final_df.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler=[]
    runs=[]
    player_of_dismissed=[]
    teams=[]
    batting_team =[]
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df= pd.DataFrame({
        'match_id':match_id,
        'teams':teams,
        'batting_team':batting_team,
        'ball':ball_of_match,
        'batsman':batsman,
        'bowler':bowler,
        'runs':runs,
        'player_dismissed':player_of_dismissed,
        'city':city,
        'venue':venue
    })
    delivery_df = pd.concat([delivery_df, loop_df], ignore_index=True)

In [13]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.1,DA Warner,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
1,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.2,DA Warner,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
2,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.3,DA Warner,TS Mills,4,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
3,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.4,DA Warner,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
4,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.5,DA Warner,TS Mills,2,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
...,...,...,...,...,...,...,...,...,...,...
142540,1170,"[Royal Challengers Bangalore, Sunrisers Hydera...",Sunrisers Hyderabad,19.2,BCJ Cutting,SR Watson,6,0,Bangalore,M Chinnaswamy Stadium
142541,1170,"[Royal Challengers Bangalore, Sunrisers Hydera...",Sunrisers Hyderabad,19.3,BCJ Cutting,SR Watson,6,0,Bangalore,M Chinnaswamy Stadium
142542,1170,"[Royal Challengers Bangalore, Sunrisers Hydera...",Sunrisers Hyderabad,19.4,BCJ Cutting,SR Watson,1,0,Bangalore,M Chinnaswamy Stadium
142543,1170,"[Royal Challengers Bangalore, Sunrisers Hydera...",Sunrisers Hyderabad,19.5,B Kumar,SR Watson,1,0,Bangalore,M Chinnaswamy Stadium
142544,1170,"[Royal Challengers Bangalore, Sunrisers Hydera...",Sunrisers Hyderabad,19.6,BCJ Cutting,SR Watson,6,0,Bangalore,M Chinnaswamy Stadium

In [14]:
def bowl(row):
    for team in row['teams']:
        if team!= row['batting_team']:
            return team

In [15]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [16]:
delivery_df.drop(columns=['teams'],inplace=True)

In [17]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Sunrisers Hyderabad,0.1,DA Warner,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore
1,2,Sunrisers Hyderabad,0.2,DA Warner,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore
2,2,Sunrisers Hyderabad,0.3,DA Warner,TS Mills,4,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore
3,2,Sunrisers Hyderabad,0.4,DA Warner,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore
4,2,Sunrisers Hyderabad,0.5,DA Warner,TS Mills,2,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...
142540,1170,Sunrisers Hyderabad,19.2,BCJ Cutting,SR Watson,6,0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore
142541,1170,Sunrisers Hyderabad,19.3,BCJ Cutting,SR Watson,6,0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore
142542,1170,Sunrisers Hyderabad,19.4,BCJ Cutting,SR Watson,1,0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore
142543,1170,Sunrisers Hyderabad,19.5,B Kumar,SR Watson,1,0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore
142544,1170,Sunrisers Hyderabad,19.6,BCJ Cutting,SR Watson,6,0,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore

In [18]:
output= delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [19]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Sunrisers Hyderabad,Royal Challengers Bangalore,0.1,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
1,2,Sunrisers Hyderabad,Royal Challengers Bangalore,0.2,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
2,2,Sunrisers Hyderabad,Royal Challengers Bangalore,0.3,4,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
3,2,Sunrisers Hyderabad,Royal Challengers Bangalore,0.4,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
4,2,Sunrisers Hyderabad,Royal Challengers Bangalore,0.5,2,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
...,...,...,...,...,...,...,...,...
142540,1170,Sunrisers Hyderabad,Royal Challengers Bangalore,19.2,6,0,Bangalore,M Chinnaswamy Stadium
142541,1170,Sunrisers Hyderabad,Royal Challengers Bangalore,19.3,6,0,Bangalore,M Chinnaswamy Stadium
142542,1170,Sunrisers Hyderabad,Royal Challengers Bangalore,19.4,1,0,Bangalore,M Chinnaswamy Stadium
142543,1170,Sunrisers Hyderabad,Royal Challengers Bangalore,19.5,1,0,Bangalore,M Chinnaswamy Stadium
142544,1170,Sunrisers Hyderabad,Royal Challengers Bangalore,19.6,6,0,Bangalore,M Chinnaswamy Stadium

In [20]:
import pickle

pickle.dump(output, open('C:\\Users\\vinay\\Downloads\\t20 p\\ipl score\\dataset_level1.pkl', 'wb'))